.layout--two-col-2x2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.layout--two-col-2x2 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--two-col-2x2 > .layout__region {
    flex: 0 1 calc(50% - 1rem);
  }
}